@font-face {
    font-family: 'Soloist';
    src: url("../fonts/soloist_base.ttf") format('truetype');
}

@font-face {
    font-family: 'Soloist-3d';
    src: url("../fonts/soloist_3d.ttf") format('truetype');
}

@font-face {
    font-family: 'Soloist-Outline';
    src: url("../fonts/soloist_outline.ttf") format('truetype');
}


body {
    background: url(../images/star-war-background.png) center center;
}

h1 {
    font-family: 'Soloist', sans-serif;
}

h2 {
    font-family: 'Soloist-3d', sans-serif;
}

h3 {
    font-family: 'Soloist-Outline', sans-serif;
}